# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# Bỏ qua không đóng gói thư mục data vào Docker image
# Thay vào đó ta sẽ dùng Volume mount bằng docker-compose
data/
logs/

# Model Weights / Checkpoints (nếu có cache local)
*.pt
*.pth
*.onnx

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
